@import "./styles/fonts.css";
@import "tailwindcss";
@import "./styles/theme.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: #ffffff;
  color: #000000;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
